
<p>
郵便番号: <%= @zipcode %>
</p>
<p>
都道府県: <%= @address1 %>
</p>
<p>
市区町村: <%= @address2 %>
</p>
<p>
町域: <%= @address3 %>
</p>

<h1 class="test">Hello, Tailwind CSS!</h1>

<h1 class="text-4xl text-red-700">Test</h1>
<h1 class="text-6xl text-blue-500">Test2</h1>
